# Do not save the results
results/*

# And the model weights (too large)
model_weights/*

# And the data
data/*

# Also, remove a file used just for visualization purpose
create_plot_in-out_domain.py

# Keep empty folders
!.gitkeep